*{margin:0;padding:0;box-sizing: border;}

body{background-color: rgb(11, 12, 28);}
.bg-dark{background-color:rgb(14, 23, 33) !important;    

}

p{font-size: 17px;
    color: #d1c8c8;}
.log{    width: 105px!important;}
body{font-family: 'Rajdhani', sans-serif;}
.nav-item a{color:#fff!important;text-transform: uppercase;font-family: 600!important;font-size: 16px;letter-spacing: 1px;}
.carousel-item img{width:100%;height:680px;}

.my-btn{width:210px;height:40px;position: relative;
    top: -737px;
    left: 1003px;

	background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);border-radius:10px;border:none;text-transform:uppercase;font-weight:700;font-size:14px;}

	
h2{font-weight: 600;color:#fff;}
.mtop{margin-top: 200px;}

h4{font-family: 700!important;color:rgb(192 186 147);}


.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
	padding: 8px 10px;}

		.online{    position: relative;
			top: 40px;
			left: -105px;
		}

		.dropdown-menu a{color:#000!important;}

		.dropdown-toggle::after {
			display: inline-block;
			margin-left: .255em;
			vertical-align: .255em;
			position: relative;
			content: "";
			border-top: .3em solid;
			border-right: .3em solid transparent;
			border-bottom: 0;
			border-left: .3em solid transparent;
			top: 2px;
		}


		.navbar-brand{position: relative;
			top: 5px;}


			.card {
				position: relative;
				padding: 1rem;
				width: 350px;
				height: 450px;
				box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
				border-radius: 0.9rem;
				background-color: var(--red-card);
				color: var(--text);
				cursor: pointer;
			  }
			  
			  .card-blue {
				background: var(--blue-card);
			  }
			  
			  .product-image {
				height: 230px;
				width: 100%;
				transform: translate(0, -1.5rem);
				transition: transform 500ms ease-in-out;
				filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
			  }
			  .product-info {
				text-align: center;    
			  }
			  
			  .card:hover .product-image {
				transform: translate(-1.5rem, -7rem) rotate(-20deg);
			  }
			  
			  .product-info h2 {
				font-size: 1.4rem;
				font-weight: 600;
				font-size: 41px;color:#fff;    
			  }
			  .product-info p {
				margin: 0.4rem;
				font-size: 0.8rem;
				font-weight: 500;    color: #fff;
				font-size: 16px;
			}
			  
			  .price {
				font-size: 1.2rem;
				font-weight: 500;
			  }
			  .btns {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				margin-top: 0.8rem;
			  }
			  .buy-btn {
				background-color: var(--btn);
				position: relative;
				top:38%;
				left: 50%;
				width: 177px;
				transform: translate(-50%, -50%);
				padding: 0.6rem 3.5rem;
				font-weight: 600;
				font-size: 1rem;
				transition: 300ms ease;
				white-space: nowrap;
				border: none;
				border-radius: 10px;
				background-image: linear-gradient(
315deg
, #fbb034 0%, #ffdd00 74%)
			  }
			  .buy-btn:hover {
				background-color: var(--btn-hover);
			  }
			  .fav {
				box-sizing: border-box;
				background:none;
				padding: 0.5rem 0.5rem;
				border: 1px solid#000;
				display: grid;
				place-items: center;
				border:none;

			  }
			  
			  .svg {
				height: 25px;
				width: 25px;
				fill: #fff;
				transition: all 500ms ease;
			  }
			  
			  .fav:hover .svg {
				fill: #000;
			  }
			  
			  @media screen and (max-width: 800px) {
				body {
				  height: auto;
				}
				.container {
				  padding: 2rem 0;
				  width: 100%;
				  flex-direction: column;
				  gap: 3rem;
				}
			  }
			 


			  .color{background-color:#072616;}
			  .color2{background-color: rgb(11, 12, 28);}
			  .color3{background-color: #035782;}

			  .fa-play{color:#000;}



			  /*cards*/

			  .blog-slider {
				width: 75%;
				position: relative;
				max-width: 800px;
				margin: auto;
				background: #fff;
				box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
				padding: 30px;
				border-radius: 25px;
				height: 400px;
				transition: all 0.3s;
			  }
			  @media screen and (max-width: 992px) {
				.blog-slider {
				  max-width: 680px;
				  height: 400px;
				}
			  }
			  @media screen and (max-width: 768px) {
				.blog-slider {
				  min-height: 426px;
				  height: auto;
				  margin: 93px auto;
				}
			  }
			  @media screen and (max-height: 500px) and (min-width: 992px) {
				.blog-slider {
				  height: 350px;
				}
			  }
			  .blog-slider__item {
				display: flex;
				align-items: center;
			  }
			  @media screen and (max-width: 768px) {
				.blog-slider__item {
				  flex-direction: column;
				}
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__img img {
				opacity: 1;
				transition-delay: 0.3s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
				opacity: 1;
				transform: none;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
				transition-delay: 0.3s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
				transition-delay: 0.4s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
				transition-delay: 0.5s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
				transition-delay: 0.6s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
				transition-delay: 0.7s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
				transition-delay: 0.8s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
				transition-delay: 0.9s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
				transition-delay: 1s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
				transition-delay: 1.1s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
				transition-delay: 1.2s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
				transition-delay: 1.3s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
				transition-delay: 1.4s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
				transition-delay: 1.5s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
				transition-delay: 1.6s;
			  }
			  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
				transition-delay: 1.7s;
			  }
			  .blog-slider__img {
				width: 383px;
				flex-shrink: 0;
				height: 300px;
				
				
				border-radius: 20px;
				transform: translateX(-80px);
				overflow: hidden;
			  }
			  .blog-slider__img:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
	
				border-radius: 20px;
				opacity: 0.8;
			  }
			  .blog-slider__img img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
				opacity: 0;
				border-radius: 20px;
				transition: all 0.3s;
			  }
			  @media screen and (max-width: 768px) {
				.blog-slider__img {
				  transform: translateY(-50%);
				  width: 90%;
				}
			  }
			  @media screen and (max-width: 576px) {
				.blog-slider__img {
				  width: 95%;
				}
			  }
			  @media screen and (max-height: 500px) and (min-width: 992px) {
				.blog-slider__img {
				  height: 270px;
				}
			  }
			  .blog-slider__content {
				padding-right: 25px;
			  }
			  @media screen and (max-width: 768px) {
				.blog-slider__content {
				  margin-top: -80px;
				  text-align: center;
				  padding: 0 30px;
				}
			  }
			  @media screen and (max-width: 576px) {
				.blog-slider__content {
				  padding: 0;
				}
			  }
			  .blog-slider__content > * {
				opacity: 0;
				transform: translateY(25px);
				transition: all 0.4s;
			  }
			  .blog-slider__code {
				color: #7b7992;
				margin-bottom: 15px;
				display: block;
				font-weight: 600;font-size: 32px;
			  }
			  .blog-slider__title {
				font-size: 24px;
				font-weight: 700;
				color: #0d0925;
				margin-bottom: 20px;
				color: #ff9800;
			  }
			  .blog-slider__text {
				color: #4e4a67;
				margin-bottom: 30px;
				line-height: 1.5em;    text-align: justify;
			
			  }

			  .blog-slider__button :hover{text-decoration: none;}
			  .blog-slider__button {
				display: inline-flex;
				background-image: linear-gradient( 
					315deg
					 , #fbb034 0%, #ffdd00 74%);
				padding: 15px 35px;
				border-radius: 50px;
				color: #000;
				box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
				text-decoration: none;
				font-weight: 500;
				justify-content: center;
				text-align: center;
				letter-spacing: 1px;font-weight: 600;
			  }
			  @media screen and (max-width: 576px) {
				.blog-slider__button {
				  width: 100%;
				}
			  }
			  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
				bottom: 10px;
				left: 0;
				width: 100%;
			  }
			  .blog-slider__pagination {
				position: absolute;
				z-index: 21;
				right: 20px;
				width: 11px !important;
				text-align: center;
				left: auto !important;
				top: 50%;
				bottom: auto !important;
				transform: translateY(-50%);
			  }
			  @media screen and (max-width: 768px) {
				.blog-slider__pagination {
				  transform: translateX(-50%);
				  left: 50% !important;
				  top: 205px;
				  width: 100% !important;
				  display: flex;
				  justify-content: center;
				  align-items: center;
				}
			  }
			  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
				margin: 8px 0;
			  }
			  @media screen and (max-width: 768px) {
				.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
				  margin: 0 5px;
				}
			  }
			  .blog-slider__pagination .swiper-pagination-bullet {
				width: 11px;
				height: 11px;
				display: block;
				border-radius: 10px;
				background: #062744;
				opacity: 0.2;
				transition: all 0.3s;
			  }
			  .blog-slider__pagination .swiper-pagination-bullet-active {
				opacity: 1;
				background: #fd3838;
				height: 30px;
				box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
			  }
			  @media screen and (max-width: 768px) {
				.blog-slider__pagination .swiper-pagination-bullet-active {
				  height: 11px;
				  width: 30px;
				}
			  }



			  /*testimonial*/

			  .testim {
				width: 100%;
				position: absolute;
				top: 50%;
				-webkit-transform: translatey(-50%);
				-moz-transform: translatey(-50%);
				-ms-transform: translatey(-50%);
				-o-transform: translatey(-50%);
				transform: translatey(-50%);
		}
		
		.testim .wrap {
			position: relative;
			width: 100%;
			max-width: 1020px;
			padding: 40px 20px;
			margin: auto;
		}
		
		.testim .arrow {
			display: block;
			position: absolute;
			color: #eee;
			cursor: pointer;
			font-size: 2em;
			top: 50%;
			-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			-webkit-transition: all .3s ease-in-out;    
			-ms-transition: all .3s ease-in-out;    
			-moz-transition: all .3s ease-in-out;    
			-o-transition: all .3s ease-in-out;    
			transition: all .3s ease-in-out;
			padding: 5px;
			z-index: 22222222;
		}
		
		.testim .arrow:before {
				cursor: pointer;
		}
		
		.testim .arrow:hover {
			color: #ea830e;
		}
			
		
		.testim .arrow.left {
			left: 10px;
		}
		
		.testim .arrow.right {
			right: 10px;
		}
		
		.testim .dots {
			text-align: center;
			position: absolute;
			width: 100%;
			bottom: 60px;
			left: 0;
			display: block;
			z-index: 3333;
				height: 12px;
		}
		
		.testim .dots .dot {
			list-style-type: none;
			display: inline-block;
			width: 12px;
			height: 22px;
			border-radius: 50%;
			border: 1px solid #eee;
			margin: 0 10px;
			cursor: pointer;
			-webkit-transition: all .5s ease-in-out;    
			-ms-transition: all .5s ease-in-out;    
			-moz-transition: all .5s ease-in-out;    
			-o-transition: all .5s ease-in-out;    
			transition: all .5s ease-in-out;
				position: relative;
		}
		
		.testim .dots .dot.active,
		.testim .dots .dot:hover {
			background: #ea830e;
			border-color: #ea830e;
		}
		
		.testim .dots .dot.active {
			-webkit-animation: testim-scale .5s ease-in-out forwards;   
			-moz-animation: testim-scale .5s ease-in-out forwards;   
			-ms-animation: testim-scale .5s ease-in-out forwards;   
			-o-animation: testim-scale .5s ease-in-out forwards;   
			animation: testim-scale .5s ease-in-out forwards;   
		}
			
		.testim .cont {
			position: relative;
				overflow: hidden;
		}
		
		.testim .cont > div {
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 0 70px 0;
			opacity: 0;
		}
		
		.testim .cont > div.inactive {
			opacity: 1;
		}
			
		
		.testim .cont > div.active {
			position: relative;
			opacity: 1;
		}
			
		
		.testim .cont div .img img {
			display: block;
			width: 100px;
			height: 100px;
			margin: auto;
			border-radius: 50%;
		}
		
		.testim .cont div h2 {
			color: #ea830e;
			font-size: 1em;
			margin: 15px 0;
		}
		
		.testim .cont div p {
			font-size: 1.15em;
			color: #eee;
			width: 80%;
			margin: auto;
		}
		
		.testim .cont div.active .img img {
			-webkit-animation: testim-show .5s ease-in-out forwards;            
			-moz-animation: testim-show .5s ease-in-out forwards;            
			-ms-animation: testim-show .5s ease-in-out forwards;            
			-o-animation: testim-show .5s ease-in-out forwards;            
			animation: testim-show .5s ease-in-out forwards;            
		}
		
		.testim .cont div.active h2 {
			-webkit-animation: testim-content-in .4s ease-in-out forwards;    
			-moz-animation: testim-content-in .4s ease-in-out forwards;    
			-ms-animation: testim-content-in .4s ease-in-out forwards;    
			-o-animation: testim-content-in .4s ease-in-out forwards;    
			animation: testim-content-in .4s ease-in-out forwards;    
		}
		
		.testim .cont div.active p {
			-webkit-animation: testim-content-in .5s ease-in-out forwards;    
			-moz-animation: testim-content-in .5s ease-in-out forwards;    
			-ms-animation: testim-content-in .5s ease-in-out forwards;    
			-o-animation: testim-content-in .5s ease-in-out forwards;    
			animation: testim-content-in .5s ease-in-out forwards;    
		}
		
		.testim .cont div.inactive .img img {
			-webkit-animation: testim-hide .5s ease-in-out forwards;            
			-moz-animation: testim-hide .5s ease-in-out forwards;            
			-ms-animation: testim-hide .5s ease-in-out forwards;            
			-o-animation: testim-hide .5s ease-in-out forwards;            
			animation: testim-hide .5s ease-in-out forwards;            
		}
		
		.testim .cont div.inactive h2 {
			-webkit-animation: testim-content-out .4s ease-in-out forwards;        
			-moz-animation: testim-content-out .4s ease-in-out forwards;        
			-ms-animation: testim-content-out .4s ease-in-out forwards;        
			-o-animation: testim-content-out .4s ease-in-out forwards;        
			animation: testim-content-out .4s ease-in-out forwards;        
		}
		
		.testim .cont div.inactive p {
			-webkit-animation: testim-content-out .5s ease-in-out forwards;    
			-moz-animation: testim-content-out .5s ease-in-out forwards;    
			-ms-animation: testim-content-out .5s ease-in-out forwards;    
			-o-animation: testim-content-out .5s ease-in-out forwards;    
			animation: testim-content-out .5s ease-in-out forwards;    
		}
		
		@-webkit-keyframes testim-scale {
			0% {
				-webkit-box-shadow: 0px 0px 0px 0px #eee;
				box-shadow: 0px 0px 0px 0px #eee;
			}
		
			35% {
				-webkit-box-shadow: 0px 0px 10px 5px #eee;        
				box-shadow: 0px 0px 10px 5px #eee;        
			}
		
			70% {
				-webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
				box-shadow: 0px 0px 10px 5px #ea830e;        
			}
		
			100% {
				-webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
				box-shadow: 0px 0px 0px 0px #ea830e;        
			}
		}
		
		@-moz-keyframes testim-scale {
			0% {
				-moz-box-shadow: 0px 0px 0px 0px #eee;
				box-shadow: 0px 0px 0px 0px #eee;
			}
		
			35% {
				-moz-box-shadow: 0px 0px 10px 5px #eee;        
				box-shadow: 0px 0px 10px 5px #eee;        
			}
		
			70% {
				-moz-box-shadow: 0px 0px 10px 5px #ea830e;        
				box-shadow: 0px 0px 10px 5px #ea830e;        
			}
		
			100% {
				-moz-box-shadow: 0px 0px 0px 0px #ea830e;        
				box-shadow: 0px 0px 0px 0px #ea830e;        
			}
		}
		
		@-ms-keyframes testim-scale {
			0% {
				-ms-box-shadow: 0px 0px 0px 0px #eee;
				box-shadow: 0px 0px 0px 0px #eee;
			}
		
			35% {
				-ms-box-shadow: 0px 0px 10px 5px #eee;        
				box-shadow: 0px 0px 10px 5px #eee;        
			}
		
			70% {
				-ms-box-shadow: 0px 0px 10px 5px #ea830e;        
				box-shadow: 0px 0px 10px 5px #ea830e;        
			}
		
			100% {
				-ms-box-shadow: 0px 0px 0px 0px #ea830e;        
				box-shadow: 0px 0px 0px 0px #ea830e;        
			}
		}
		
		@-o-keyframes testim-scale {
			0% {
				-o-box-shadow: 0px 0px 0px 0px #eee;
				box-shadow: 0px 0px 0px 0px #eee;
			}
		
			35% {
				-o-box-shadow: 0px 0px 10px 5px #eee;        
				box-shadow: 0px 0px 10px 5px #eee;        
			}
		
			70% {
				-o-box-shadow: 0px 0px 10px 5px #ea830e;        
				box-shadow: 0px 0px 10px 5px #ea830e;        
			}
		
			100% {
				-o-box-shadow: 0px 0px 0px 0px #ea830e;        
				box-shadow: 0px 0px 0px 0px #ea830e;        
			}
		}
		
		@keyframes testim-scale {
			0% {
				box-shadow: 0px 0px 0px 0px #eee;
			}
		
			35% {
				box-shadow: 0px 0px 10px 5px #eee;        
			}
		
			70% {
				box-shadow: 0px 0px 10px 5px #ea830e;        
			}
		
			100% {
				box-shadow: 0px 0px 0px 0px #ea830e;        
			}
		}
		
		@-webkit-keyframes testim-content-in {
			from {
				opacity: 0;
				-webkit-transform: translateY(100%);
				transform: translateY(100%);
			}
			
			to {
				opacity: 1;
				-webkit-transform: translateY(0);        
				transform: translateY(0);        
			}
		}
		
		@-moz-keyframes testim-content-in {
			from {
				opacity: 0;
				-moz-transform: translateY(100%);
				transform: translateY(100%);
			}
			
			to {
				opacity: 1;
				-moz-transform: translateY(0);        
				transform: translateY(0);        
			}
		}
		
		@-ms-keyframes testim-content-in {
			from {
				opacity: 0;
				-ms-transform: translateY(100%);
				transform: translateY(100%);
			}
			
			to {
				opacity: 1;
				-ms-transform: translateY(0);        
				transform: translateY(0);        
			}
		}
		
		@-o-keyframes testim-content-in {
			from {
				opacity: 0;
				-o-transform: translateY(100%);
				transform: translateY(100%);
			}
			
			to {
				opacity: 1;
				-o-transform: translateY(0);        
				transform: translateY(0);        
			}
		}
		
		@keyframes testim-content-in {
			from {
				opacity: 0;
				transform: translateY(100%);
			}
			
			to {
				opacity: 1;
				transform: translateY(0);        
			}
		}
		
		@-webkit-keyframes testim-content-out {
			from {
				opacity: 1;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
			
			to {
				opacity: 0;
				-webkit-transform: translateY(-100%);        
				transform: translateY(-100%);        
			}
		}
		
		@-moz-keyframes testim-content-out {
			from {
				opacity: 1;
				-moz-transform: translateY(0);
				transform: translateY(0);
			}
			
			to {
				opacity: 0;
				-moz-transform: translateY(-100%);        
				transform: translateY(-100%);        
			}
		}
		
		@-ms-keyframes testim-content-out {
			from {
				opacity: 1;
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
			
			to {
				opacity: 0;
				-ms-transform: translateY(-100%);        
				transform: translateY(-100%);        
			}
		}
		
		@-o-keyframes testim-content-out {
			from {
				opacity: 1;
				-o-transform: translateY(0);
				transform: translateY(0);
			}
			
			to {
				opacity: 0;
				transform: translateY(-100%);        
				transform: translateY(-100%);        
			}
		}
		
		@keyframes testim-content-out {
			from {
				opacity: 1;
				transform: translateY(0);
			}
			
			to {
				opacity: 0;
				transform: translateY(-100%);        
			}
		}
		
		@-webkit-keyframes testim-show {
			from {
				opacity: 0;
				-webkit-transform: scale(0);
				transform: scale(0);
			}
			
			to {
				opacity: 1;
				-webkit-transform: scale(1);       
				transform: scale(1);       
			}
		}
		
		@-moz-keyframes testim-show {
			from {
				opacity: 0;
				-moz-transform: scale(0);
				transform: scale(0);
			}
			
			to {
				opacity: 1;
				-moz-transform: scale(1);       
				transform: scale(1);       
			}
		}
		
		@-ms-keyframes testim-show {
			from {
				opacity: 0;
				-ms-transform: scale(0);
				transform: scale(0);
			}
			
			to {
				opacity: 1;
				-ms-transform: scale(1);       
				transform: scale(1);       
			}
		}
		
		@-o-keyframes testim-show {
			from {
				opacity: 0;
				-o-transform: scale(0);
				transform: scale(0);
			}
			
			to {
				opacity: 1;
				-o-transform: scale(1);       
				transform: scale(1);       
			}
		}
		
		@keyframes testim-show {
			from {
				opacity: 0;
				transform: scale(0);
			}
			
			to {
				opacity: 1;
				transform: scale(1);       
			}
		}
		
		@-webkit-keyframes testim-hide {
			from {
				opacity: 1;
				-webkit-transform: scale(1);       
				transform: scale(1);       
			}
			
			to {
				opacity: 0;
				-webkit-transform: scale(0);
				transform: scale(0);
			}
		}
		
		@-moz-keyframes testim-hide {
			from {
				opacity: 1;
				-moz-transform: scale(1);       
				transform: scale(1);       
			}
			
			to {
				opacity: 0;
				-moz-transform: scale(0);
				transform: scale(0);
			}
		}
		
		@-ms-keyframes testim-hide {
			from {
				opacity: 1;
				-ms-transform: scale(1);       
				transform: scale(1);       
			}
			
			to {
				opacity: 0;
				-ms-transform: scale(0);
				transform: scale(0);
			}
		}
		
		@-o-keyframes testim-hide {
			from {
				opacity: 1;
				-o-transform: scale(1);       
				transform: scale(1);       
			}
			
			to {
				opacity: 0;
				-o-transform: scale(0);
				transform: scale(0);
			}
		}
		
		@keyframes testim-hide {
			from {
				opacity: 1;
				transform: scale(1);       
			}
			
			to {
				opacity: 0;
				transform: scale(0);
			}
		}
		
		@media all and (max-width: 300px) {
			body {
				font-size: 14px;
			}
		}
		
		@media all and (max-width: 500px) {
			.testim .arrow {
				font-size: 1.5em;
			}
			
			.testim .cont div p {
				line-height: 25px;
			}
		
		}


		/*crd*/

		.cards {
			background: #fff;
			border-radius: 20px;
			display: inline-block;
			height:257px;
			margin: 1rem;
			position: relative;
			width: 520px;
		  }
		  
		  .card-1 {     background-image: url(images/bgs.jpg);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		  }
		  
		  .card-1:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		  }
		  
		  .card-2 {     background-image: url(images/bgs2.jpg);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		  }
		  
		  .card-2:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		  }
		  

		  .card-3 {     background-image: url(images/bgs3.jpg);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		  }
		  
		  .card-3:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		  }
		  


		  .card-4 {     background-image: url(images/bgs4.jfif);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		  }
		  
		  .card-4:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		  }
		  

		  .fa-lock{font-size: 27px!important;width:70px;height: 70px;border-radius: 50%;padding: 20px 25px;position: relative;
		
		top:-8%;left:50%;transform: translate(-50%,-50%);background-image: linear-gradient( 
			315deg
			 , #fbb034 0%, #ffdd00 74%)
		}

		.fa-rupee{font-size: 27px!important;width:70px;height: 70px;border-radius: 50%;padding: 20px 25px;position: relative;
		
			top:-8%;left:50%;transform: translate(-50%,-50%);background-image: linear-gradient( 
				315deg
				 , #fbb034 0%, #ffdd00 74%)
			}


		
			.cus{font-size: 27px!important;width:70px;height: 70px;border-radius: 50%;padding: 20px 25px;position: relative;
		
				top:-8%;left:50%;transform: translate(-50%,-50%);background-image: linear-gradient( 
					315deg
					 , #fbb034 0%, #ffdd00 74%)
				}
	
             
		.fa-mobile{font-size: 35px!important;width:70px;height: 70px;border-radius: 50%;padding: 18px 28px;position: relative;
		
			top:-8%;left:50%;transform: translate(-50%,-50%);background-image: linear-gradient( 
				315deg
				 , #fbb034 0%, #ffdd00 74%)
			}


				.footer{
					background: linear-gradient(to top, rgb(20, 31, 50) 100%, rgb(21, 36, 58) 28%, rgb(23, 39, 64) 0%) rgb(23, 39, 64);
					padding: 70px 0;
				}
				.footer-col{
				   width: 25%;
				   padding: 0 15px;
				}
				.footer-col h4{
					font-size: 18px;
					color: #ffffff;
					text-transform: capitalize;
					margin-bottom: 35px;
					font-weight: 500;
					position: relative;
				} 
				.footer-col ul li:not(:last-child){
					margin-bottom: 10px;
				}
				.footer-col ul li a{
					font-size: 16px;
					text-transform: capitalize;
					color: #ffffff;
					text-decoration: none;
					font-weight: 300;
					color: #bbbbbb;
					display: block;
					transition: all 0.3s ease;
				}
				.footer-col ul li a:hover{
					color: #ffffff;
					padding-left: 8px;
				}
				.footer-col .social-links a{
					display: inline-block;
					height: 40px;
					width: 40px;
					background-color: rgba(255,255,255,0.2);
					margin:0 10px 10px 0;
					text-align: center;
					line-height: 40px;
					border-radius: 50%;
					color: #ffffff;
					transition: all 0.5s ease;
				}
				.footer-col .social-links a:hover{
					color: #24262b;
					background-color: #ffffff;
				}
				
				@media(max-width: 767px){
				  .footer-col{
					width: 50%;
					margin-bottom: 30px;
				}
				}
				@media(max-width: 574px){
				  .footer-col{
					width: 100%;
				}
				}
				
				
			a:hover{text-decoration: none!important;}
				
				.foot-text{display: flex;color:#fff;list-style-type: none; font-size: 19px;
				}


				.fa-android{color:#000;width:50px;height: 50px;border-radius: 50%;font-size: 30px!important;background-image: linear-gradient( 
					315deg
					 , #fbb034 0%, #ffdd00 74%);
				padding: 8px 13px;
				
				}


				.fa-windows{color:#000;width:50px;height: 50px;border-radius: 50%;font-size:27px!important;background-image: linear-gradient( 
					315deg
					 , #fbb034 0%, #ffdd00 74%);
				padding: 12px 12px;
				
				}


				.fa-apple{color:#000;width:50px;height: 50px;border-radius: 50%;font-size: 27px!important;background-image: linear-gradient( 
					315deg
					 , #fbb034 0%, #ffdd00 74%);
				padding: 11px 15px;
				
				}

				.social-links{font-size: 22px; margin-left: 363px;}

				.fa-google{color:#fff;}
				.fa-instagram{color:#fff;}
				.fa-twitter{color:#fff;}
				.fa-facebook{color:#fff;}

				.ims{    width: 60px;}.im{    width: 87px;}

				.imn{    width: 107px;}

				.new{width:100%;border-top:1px solid #fff;}

				.bgss{background: linear-gradient(to top, rgb(20, 31, 50) 100%, rgb(21, 36, 58) 28%, rgb(23, 39, 64) 0%) rgb(23, 39, 64);
				}


				@media only screen and (max-width:768px) {

				
		
					.frame {
						margin-top: 45px;
						height: 627px !important;
						width: 377px!important;
						background: #183256;
						background-size: cover;
						margin-left: auto;
						margin-right: auto;
						border-top: solid 1px rgba(255,255,255,.5);
						border-radius: 20px;
						box-shadow: 0px 2px 7px rgb(0 0 0 / 20%);
						overflow: hidden;
						transition: all .5s ease;
						position: relative!important;
						top: 50%!important;
						padding: 0px -61px;
						left: 50% !important;
						transform: translate(-49%,-3%) !important;}



						.form-signin input, .form-signup input {
							color: #ffffff;
							font-size: 13px;
							width: 303px;
						}

						.play {
							position: relative;
							top: -30px;
							background-image: linear-gradient( 
						315deg
						 , #fbb034 0%, #ffdd00 74%);
							padding: 9px;
							font-weight: 600;
							width: 302px;
							border-radius: 19px;
						}

						.frame-long {
							height: 627px !important;}


							#close {
								position: relative !important;
								top: -822px !important;
								left: 329px !important;
   
								font-weight: 400;
								color: #fff;
								z-index: 9999!important;
							}



				.carousel-item img {
    width: 100%;
    height: 315px;
}
.bg-two {
    background-color: rgb(11, 12, 28);
    height:777px;
}


.card {
    position: relative;

    top: -46px;    height:384px;
}

.swiper-container-pointer-events {
    touch-action: pan-y;
    position: relative;
    top: -18px;
}

.cards {

    border-radius: 20px;
    display: inline-block;
    height: 305px;
    margin: 1rem;
    position: relative;
    width: 323px;
}

.blog-slider__img {
    width: 95%;
    height: 225px;
}




.my-btn {
	width: 210px;
    height: 27px;
    
    position: relative ;
    top: -368px ;
    width: 70px !important;
    /* left: 1003px; */
    left: 145px;
    z-index: 30;

  }


.navbar>.container, .navbar>.container-fluid {
    display: -ms-flexbox;
    /* display:; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
	display: block;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-light .navbar-toggler-icon {

	background: none!important;
	outline: none;
	border: none;
}

.navbar-brand img{    margin-top: -36px;width: 122px;    position: relative;
    top: -5px;
}

.testim {
    width: 100%;
    position: absolute !important;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-49%);
    left: 7px !important;
}

.foot-text {
    display: grid;
    color: #fff;
    list-style-type: none;
    font-size: 19px;

    line-height: 17px;
    margin-top: 35px;
}

.social-links {
    font-size: 22px;
    margin-left: 363px;
    display: flex;
    margin-left: 4px;
    margin-top: 24px;
    font-size: 17px;
    word-spacing: 12px;
}

.ico{display: flex;word-spacing: -54px !important;}
.ims {
	width:47px;
}


.my-c{    position: relative !important;
    left: -180px!important;
    top: 7px!important;
    white-space: nowrap!important;
    font-size: 16px!important;
}

.app{display:block !important;}

.app {
	width: 137px !important;
    height: 36px!important;
    /* left: 35px; */
    /* z-index: 9999; */
    /* top: 4562px; */
    position: relative !important;
    
    top: 15px !important;
    left: 139px !important;


}

.effect-2 {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    height: 250px ;
    width: 374px ;
}

.download{background-color: rgb(11, 12, 28);
    position: fixed;
    /* top: 227px; */
    z-index: 999;
    width: 100%;
    bottom: 0;
    margin-left: -15px;
    height: 69px;
    padding: 63px -23px;}

	.ujj{margin-top: -25px;}
  

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
    position: relative!important;
    top: -52px !important;
}


body,html{overflow-x: hidden;}

h2{
    font-weight: 600;
    color: #fff;
    text-align: center;
    font-size: 31px;
}

  .product-info h2 {
				font-size: 1.4rem;
				font-weight: 600;
				font-size: 41px;color:#fff;   
			  }


.pp{width:150px;}


.bg-dark{background-color:rgb(14, 23, 33) !important;    height: 80px;z-index: 29;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    background: #141f32;
}
.navbar-expand-lg .navbar-nav .nav-link {border:1px solid #000;
    padding-right: .5rem;
    padding-left: .5rem;
    padding: 14px 30px}


.pw{width: 195px;}

.product-info {
    text-align: center;
    margin-top: -74px;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    /* position: fixed; */
    position: relative;
    top: -2p;
    top: -3px;
	margin-bottom: -5px;
    /* height: 114px; */
    /* padding-bottom: 85px; */
}
.imn{width:80px;}

.logg {margin-top: -43px;}

.carousel-indicators li {display: none;}	 

				}






				.fa-bars{color:#fff;margin-left: 181px;    position: relative;
					top: -16px;
					font-size: 23px!important;
				}
				
			
				.fa-bars:focus{outline: none;border: none;}

				.navbar-light .navbar-toggler{border: none;}
				.navbar-light .navbar-toggler:focus{border:none;outline:none;}


				.bg-one{background: linear-gradient(to top, rgb(20, 31, 50) 100%, rgb(21, 36, 58) 28%, rgb(23, 39, 64) 0%) rgb(23, 39, 64);}

				.bg-two{background-color: rgb(11, 12, 28);}

				.ico{display: flex;
				word-spacing: 18px;
			}
			
  
  
 /* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border:none !important;
	
	z-index: 9;
  }



  .frame {    margin-top: 45px;
	height:570px;
	width: 430px;
  
  background: #183256;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	border-top: solid 1px rgba(255,255,255,.5);
	border-radius: 20px;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	overflow: hidden;
	transition: all .5s ease;position: relative;
	top: 50%;
	left: 50%;
   
	transform: translate(-83%,-1%);
  
  }
  
  .frame-long {
	height: 570px;
  }
  
  .frame-short {
	height: 400px;
	margin-top: 50px;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
  }
  
  .nav {
	width: 100%;
	height: 100px;
	padding-top: 40px;
	opacity: 1;
	transition: all .5s ease;
  }
  
  .nav-up {
	transform: translateY(-100px);
	opacity: 0;
  }
  
  li {
	padding-left: 10px;
	font-size: 18px;
	display: inline;
	text-align: left;
	text-transform: uppercase;
	padding-right: 10px;
	color: #ffffff;
  }
  
  .signin-active a {
	padding-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	border-bottom: solid 2px #1059FF;
	transition: all .25s ease;
	cursor: pointer;
  }
  
  .signin-inactive a {
	padding-bottom: 0;
	color: rgba(255,255,255,.3);
	text-decoration: none;
	border-bottom: none;
	cursor: pointer;
  }
  
  .signup-active a {
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	border-bottom: solid 2px #1059FF;
	padding-bottom: 10px;
  }
  
  .signup-inactive a {
	cursor: pointer;
	color: rgba(255,255,255,.3);
	text-decoration: none;
	transition: all .25s ease;position:relative;left:-30px;
  }
  
  .form-signin {
	width: 430px;
	height: 375px;
	  font-size: 16px;
	  font-weight: 300;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 55px;
	transition: opacity .5s ease, transform .5s ease;
  }
  
  .form-signin-left {
	transform: translateX(-400px);
	opacity: .0;
  }
  
  .form-signup {
	width: 430px;
	height: 375px;
	  font-size: 16px;
	  font-weight: 300;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 55px;
	position: relative;
	top: -375px;
	left: 400px;
	opacity: 0;
	transition: all .5s ease;
  }
  
  .form-signup-left {
	transform: translateX(-399px);
	opacity: 1;
  }
  
  .form-signup-down {
	top: 0px;
	opacity: 0;
  }
  
  .success {
	width: 80%;
	height: 150px;
	text-align: center;
	position: relative;
	top: -890px;
	left: 450px;
	opacity: .0;
	transition: all .8s .4s ease;
  }
  
  .success-left {
	transform: translateX(-406px);
	opacity: 1;
  }
  
  .successtext {
	color: #ffffff;
	  font-size: 16px;
	  font-weight: 300;
	margin-top: -35px;
	padding-left: 37px;
	padding-right: 37px;
  }
  
  #check path {
	  stroke: #ffffff;
	  stroke-linecap:round;
	  stroke-linejoin:round;
	  stroke-width: .85px;
	  stroke-dasharray: 60px 300px;
	  stroke-dashoffset: -166px;
	  fill: rgba(255,255,255,.0);
	  transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
  }
  
  #check.checked path {
	  stroke-dashoffset: 33px;
	  fill: rgba(255,255,255,.03);
  }
  
  .form-signin input, .form-signup input {
	color: #ffffff;
	font-size: 13px;
  }
  
  .form-styling {
	width: 100%;
	height: 35px;
	  padding-left: 15px;
	  border: none;
	  border-radius: 20px;
	margin-bottom: 20px;
	background: rgba(255,255,255,.2);
  }
  
  label {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 15px;
	padding-bottom: 10px;
	color: rgba(255,255,255,.7);
	display: block;
  }
  
  :focus {outline: none;
  }
  
  .form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
	  background: rgba(255,255,255,.3);
	  border: none; 
	  padding-right: 40px;
	  transition: background .5s ease;
   }
  
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
	position: absolute;
	display: none;
  }
  
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 85px;
	padding-top: 2px;
	cursor: pointer;
	margin-top: 8px;
  }
  
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
	content: '';
	position: absolute;
  }
  
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
	width: 65px; 
	height: 30px;
	background: rgba(255,255,255,.2);
	border-radius: 15px;
	left: 0; 
	top: -3px;
	transition: all .2s ease;
  }
  
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
	width: 10px; 
	height: 10px;
	background: rgba(255,255,255,.7);
	border-radius: 50%;
	top: 7px; 
	left: 10px;
	transition: all .2s ease;
  }
  
  /* on checked */
  [type="checkbox"]:checked + label:before {
	background: #0F4FE6; 
  }
  
  [type="checkbox"]:checked + label:after {
	background: #ffffff;
	top: 7px; 
	left: 45px;
  }
  
  [type="checkbox"]:checked + label .ui,
  [type="checkbox"]:not(:checked) + label .ui:before,
  [type="checkbox"]:checked + label .ui:after {
	position: absolute;
	left: 6px;
	width: 65px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	transition: all .2s ease;
  }
  
  [type="checkbox"]:not(:checked) + label .ui:before {
	content: "no";
	left: 32px;
	color: rgba(255,255,255,.7);
  }
  
  [type="checkbox"]:checked + label .ui:after {
	content: "yes";
	color: #ffffff;
  }
  
  [type="checkbox"]:focus + label:before {
	box-sizing: border-box;
	margin-top: -1px;
  }
  
  .btn-signup {
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color: #000 !important;
	padding-top: 11px;
   width: 33%;
	  height: 39px;
	  border: none;
	  border-radius: 10px;
	margin-top: 23px;
	background-image: linear-gradient(
		315deg
		, #fbb034 0%, #ffdd00 74%);
	position: relative !important;
	  left: 122px !important;
	  border: none;
	  border-radius: 20px;
	margin-top:-1px;
	background-color: #1059FF;
  }
  
  .btn-signin {
	float: left;
	padding-top: 8px;
	width: 100%;
	height: 35px;
	  border: none;
	  border-radius: 20px;
	margin-top: -8px;
  }
  
  .btn-animate {
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color:#000;
	padding-top: 11px;
  width: 33%;
	  height: 39px;
	  border: none;
	  border-radius: 10px;
	margin-top: 23px;
    background-image: linear-gradient(
315deg
, #fbb034 0%, #ffdd00 74%);
	position: relative !important;
	  left: 117px !important;
	left: 0px;
	top: 0px;
	transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s; 
  }
  
  .btn-animate-grow {
	width: 130%;
	height: 625px;
	position: relative;
	left: -55px;
	top: -420px;
	color: rgba(255,255,255,0);
	background-color: rgba(255,255,255,1);
  }
  
  a.btn-signup:hover, a.btn-signin:hover {
	  cursor: pointer; 
	 
	  transition: background-color .5s; 
  }
  
  .forgot {
	height: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 24px;
	margin-top: -535px;
	border-top: solid 1px rgba(255,255,255,.3);
	transition: all 0.5s ease;
  }
  
  .forgot-left {
	transform: translateX(-400px);
	opacity: 0;
  }
  
  .forgot-fade {
	opacity: 0;
  }
  
  .forgot a {
	color: rgba(255,255,255,.3);
	font-weight: 400;
	font-size: 13px;
	text-decoration: none;
  }
  
  .welcome {
	width: 100%;
	height: 50px;
	position: relative;
	color: rgba(35,43,85,0.75);
	opacity: 0;
	transition: transform 1.5s ease .25s, opacity .1s ease 1s;
  }
  
  .welcome-left {
	transform: translateY(-780px);
	opacity: 1; 
  }
  
  
  .cover-photo-down {
	top: -575px;
	opacity: 1;
  }
  
  .profile-photo {
	height: 125px;
	width: 125px;
	position: relative;
	border-radius: 70px;
	left: 155px;
	top: -1000px;
	background: url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/nature-water-rocks-hiking.jpg);
	background-size: 100% 135%;
	background-position: 100% 100%;
	opacity: 0;
	transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
	border: solid 3px #ffffff;
  }
  
  .profile-photo-down {
	top: -636px;
	opacity: 1;
  }
  
  h1 {
	color: #ffffff;
	font-size: 35px;
	  font-weight: 300;
	text-align: center;
  }
  
  .btn-goback {
	position: relative;
	margin-right: auto;
	top: -400px;
	float: left;
	padding: 8px;
	width: 83%;
	margin-left: 37px;
	margin-right: 37px;
	height: 35px;
	  border-radius: 20px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color: #1059FF;
	margin-top: -8px;
	border: solid 1px #1059FF;
	opacity: 0;
	transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
  }
  
  .btn-goback-up {
	top: -1080px;
	opacity: 1;
  }
  
  a.btn-goback:hover {
	  cursor: pointer; 
	  background-color: #0F4FE6;
	  transition: all .5s; 
	  color: #ffffff;
  }
  
  /* refresh button styling */
  
  #refresh {
	  position: fixed;
	  bottom: 20px;
	  right: 20px; 
	  background-color: #ffffff;
	  width: 50px;
	  height: 50px;
	  border-radius: 25px;
	  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
	  padding: 13px 0 0 13px;
  }
  
  .refreshicon {
	  fill: #d3d3d3;
	  transform: rotate(0deg);
	  transition: fill .25s ease, transform .25s ease;
  }
  
  .refreshicon:hover {
	cursor: pointer;
	fill: #1059FF;
	transform: rotate(180deg);
  }


  #close {
    position: relative;
	top: -840px;
    left: 393px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

#udd{display: none;}
::placeholder{color:#fff !important;font-size: 16px !important;}


.play{    position: relative;
    top: -30px;
	background-image: linear-gradient(
		315deg
		, #fbb034 0%, #ffdd00 74%);
    padding: 9px;
    font-weight: 600;
    border-radius: 19px;
}


/*promotion page*/

.banners img{width:100%;height:550px;}



  
  
  
  
  
  /********** Effect #2 CSS *********/
  .effect-2 {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius:10px;height: 250px;width: 350px ;
  }

  
  
  
  .effect-2 .effect-img {
	position: relative;
	font-size: 0;
	overflow: hidden;	
  }
  
  .effect-2 .effect-img img {
	position: relative;
	width: 100%;
	height: auto;
	transform: scale(1.2);
	bottom: -25px;
	transition: .5s;height: 250px !important;width: 350px !important;
  }
  
  .effect-2:hover .effect-img img {
	bottom: 0;
  }
  
  .effect-2 .effect-text {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 30px;
	top: 50%;
	left: 0;
	text-align: center;
	background: rgba(0, 0, 0, .2);
	opacity: 0;
	transition: .5s;
  }
  
  .effect-2:hover .effect-text {
	top: 0;
	opacity: 1;
  }
  
  .effect-2 .effect-text p {
	color: #ffffff;
	font-size: 16px;
	margin: 0 0 20px 0;
  }
  
  .effect-2 .effect-btn {
	position: absolute;
	width: 100%;
	padding: 15px 7.5px;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
  }
  
  .effect-2 .effect-text h2 {
	display: inline-block;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	float: left;
	margin: 5px 7.5px 0 7.5px;
  }
  
  .effect-2 .effect-btn .btn {
	position: relative;
	display: inline-block;
	float: right;
	height: 35px;
	padding: 7px 15px;
	margin: 0 7.5px;
	color: #333333;
	background-image: linear-gradient(
315deg
, #fbb034 0%, #ffdd00 74%);
	text-decoration: none;
  }
  
  /********** Effect #3 CSS *********/
  .effect-3 {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
  }
  
  .effect-3 .effect-img {
	font-size: 0;
	overflow: hidden;
  }
  
  .effect-3 .effect-img img {
	width: 100%;
	height: auto;
	transition: .3s;
  }
  
  .effect-3:hover .effect-img img {
	transform: scale(1.2);
  }
  
  .effect-3 .effect-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	transition: .5s;
	transform: scale(0);
	opacity: 0;
  }
  
  .effect-3:hover .effect-text {
	transform: scale(1);
	opacity: 1;
  }
  
  .effect-3 .effect-text h2 {
	height: 45px;
	color: #ffffff;
	font-size: 25px;
	margin: 0;
  }
  
  .effect-3 .effect-text p {
	color: #ffffff;
	font-size: 16px;
	margin: 0 0 20px 0;
  }
  
  .effect-3 .effect-btn .btn {
	display: inline-block;
	height: 35px;
	padding: 7px 15px;
	color: #333333;
	background: #ffffff;
	text-decoration: none;
  }



  @media only screen and (max-width: 768px) {

.tab-content{height:868px !important;}

  .banners img {
    width: 100%;
    height: 296px;
}

.btn-animate{position: relative !important;
    left: 101px !important;}

  }


  .my-btn:focus{border:none;outline:none;}



  .tabs {
	width: 100%;
	background: linear-gradient(to top, rgb(20, 31, 50) 100%, rgb(21, 36, 58) 28%, rgb(23, 39, 64) 0%) rgb(23, 39, 64);
	
	
	
	border-radius: 5px 5px 5px 5px;
  }
  ul#tabs-nav {
	list-style: none;
	margin: 0;
	padding: 5px;
	overflow: auto;
  }
  ul#tabs-nav li {
	float: left;
	font-weight: bold;
	margin-right: 2px;
	padding: 8px 10px;
	border-radius: 5px 5px 5px 5px;
	/*border: 1px solid #d5d5de;
	border-bottom: none;*/
	cursor: pointer;
  }
  ul#tabs-nav li:hover,
  ul#tabs-nav li.active {
	background-color: #08E;
  }
  #tabs-nav li a {
	text-decoration: none;
	color: #FFF;
  }
  .tab-content {
	padding: 10px;
	border: 5px solid #000;
	background-color: #FFF;
	height: 800px;
	

  }

  

.fa-circle{font-size:14px!important;margin-top: 5px;}


